
.bg-white{background: #fff}
.gray-bg{background: #ccc;}
.border-gray{border-color: #a2a1a1!important}
.header{background: #1d59e0; }
.errorbox{color: #f00; background: yellow;}
.hidden{display: none !important;}
.heading-m{font-size: 1.2rem}